<ng-container *ngIf="pendingApis > 0; else content">
  <div class="spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>


<ng-template #content>
  <mat-card class="user-card">
    <mat-card-header>
      <mat-card-title>{{ userDetails.name }}</mat-card-title>
      <mat-card-subtitle>{{ userCalories ? 'Update Calories' : 'Add Calories' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
  
    </mat-card-content>
  </mat-card>
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <!-- History Date -->
    <mat-form-field appearance="outline" class="third-width">
      <mat-label>History Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="history_date" 
        [min]="minDate" [max]="maxDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('history_date')?.invalid">Date is required</mat-error>
    </mat-form-field>
  
    <!-- Foods Section -->
    <mat-label>Add Food</mat-label>
    <div *ngIf="foodGroupKeys?.length" formArrayName="foods">
      <div *ngFor="let foodGroup of foods.controls; let i = index" [formGroupName]="i" class="food-entry">
        <mat-form-field appearance="outline" class="food-drop-down-width">
          <mat-label>Food Group</mat-label>
          <mat-select formControlName="group" (selectionChange)="onFoodGroupChange(i)">
            <mat-option *ngFor="let group of foodGroupKeys" [value]="group">{{ group }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="food-drop-down-width">
          <mat-label>Food</mat-label>
          <mat-select formControlName="food_id" (selectionChange)="onFoodSelection(i)">
            <mat-option *ngFor="let food of foodGroups[foods.at(i).get('group')?.value] || []" [value]="food?.food_id">
              {{ food.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Serving</mat-label>
          <input matInput formControlName="serving" readonly />
        </mat-form-field>
  
        <!-- <mat-form-field appearance="outline">
          <mat-label>Calories</mat-label>
          <input matInput formControlName="calories" readonly />
        </mat-form-field> -->
  
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" formControlName="quantity" min="1" (input)="onFoodQuantityChange(i)" />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Total Calories</mat-label>
          <input matInput formControlName="total_calories" readonly />
        </mat-form-field>
  
        <button mat-fab color="warn" (click)="removeFood(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
  
      <button mat-raised-button color="primary" type="button" (click)="addFood()" class="add-more-button">Add More</button>
    </div>
  
    <mat-form-field appearance="outline" class="third-width">
      <mat-label>Total Food Calories</mat-label>
      <input matInput formControlName="total_food_calories" readonly />
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="third-width">
      <mat-label>Total Calories In</mat-label>
      <input matInput formControlName="total_calories_in" readonly />
    </mat-form-field>
  
    <!-- Activities Section -->
    <mat-label>Add Activity</mat-label>
    <div *ngIf="activityCategoryKeys?.length" formArrayName="activities">
      <div *ngFor="let activity of activities.controls; let i = index" [formGroupName]="i" class="activity-entry">
  
        <mat-form-field appearance="outline" class="food-drop-down-width">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" (selectionChange)="onActivityCategoryChange(i)">
            <mat-option *ngFor="let category of activityCategoryKeys" [value]="category">{{ category }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="food-drop-down-width">
          <mat-label>Activity</mat-label>
          <mat-select formControlName="activity_id" (selectionChange)="onActivitySelection(i)">
            <mat-option *ngFor="let activity of activityCategories[activities.at(i).get('category')?.value] || []" [value]="activity?.activity_id">
              {{ activity.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Minutes</mat-label>
          <input matInput type="number" formControlName="minutes" (input)="onChangeMinutes(i)" />
        </mat-form-field>
  
        
        <mat-form-field appearance="outline">
          <mat-label>Total Calories</mat-label>
          <input matInput formControlName="total_calories" readonly/>
        </mat-form-field>
  
        <button mat-fab color="warn" (click)="removeActivity(i)">
          <mat-icon>delete</mat-icon>
        </button>
        
      </div>
      
      <button mat-raised-button color="primary" type="button" (click)="addActivity()" class="add-more-button">Add More</button>
    </div>
  
    <mat-form-field appearance="outline" class="third-width">
      <mat-label>Total Activity Calories</mat-label>
      <input matInput formControlName="total_activity_calories" readonly />
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="third-width">
      <mat-label>BMR</mat-label>
      <input matInput formControlName="bmr" readonly />
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="third-width">
      <mat-label>Total Calories Out</mat-label>
      <input matInput formControlName="total_calories_out" readonly />
    </mat-form-field>
    
  
  
    <mat-form-field appearance="outline" class="third-width">
      <mat-label>Net Calories</mat-label>
      <input matInput formControlName="net_calories" readonly />
    </mat-form-field>
  
    <div>
      <button mat-flat-button color="warn" [routerLink]="'/user/calories/list/' + userId">Cancel</button>
      <button mat-flat-button color="primary" type="submit" style="margin-left: 5px;">Submit</button>
    </div>
    
  </form>
</ng-template>
